<header class="header">
  <div class="container nav fixed-top">
    <div class="row align-items-center">
      <div class="col-12 ar-nav">
        <div class="logo-nav d-flex">
          <div class="logo d-flex align-items-center">
            <a href="/"><!-- <img src="test" alt="logo">-->logo</a> 
          </div>
          <div class="navigation d-flex align-items-center">
            <ul class="list-unstyled d-flex m-0">
              <li><a href="/" class="text-nowrap">Pricing</a></li>
              <li><a href="/" class="text-nowrap">About us</a></li>
              <li><a href="/" class="text-nowrap">How it works</a></li>
              <li><a href="/" class="text-nowrap">FAQ</a></li>
            </ul>
          </div>
        </div>
        <div class="sign">
          <a href="/" class="btn btn-secondary px-4">Sign in</a>
          <a href="/" class="btn btn-secondary px-lg-4">bebra</a>
        </div>
      </div>
    </div>
  </div>
</header>

