@import '_vars.scss';

html {
  height: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: darkgrey;
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
}

//* Sections and container 
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main{
  flex: 1 0 auto;
}
.footer{
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: $containerWidth + px;
  margin: 0 auto;
  padding: $containerYPadding + px $containerXPadding + px;
}

//* Body and ...
body{
  @extend %font;
  height: 100%;
  background-color: $bodyBackground;
  overflow-x: hidden;
  min-width: 320px;
  &.locked{
    overflow: hidden;
  }
}


