@import '_fonts';
@import '_vars';

@mixin font($font-name, $file-name, $weight, $style){
  @font-face {
    font-family: $font-name;
    font-display: swap;
    src: url("../fonts/#{$file-name}.woff") format("woff"), url("../fonts/#{$file-name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}