//* Container & BreakPoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint600: 600.98 + px;
$breakpoint480: 479.98 + px;

//* Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

//* Colors
// $primary: #001731;
// $secondary: #398BFF; 

//* Fonts
// $fontMain: '', 'sans-serif';
// $fontSecondary: '';