//* Container & BreakPoints
@use 'sass:math';
$containerWidth: 1200;
$containerPadding: 60;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint576: 575.98 + px;
$breakpoint480: 479.98 + px;

//* Burger Menu
$burgerBreakpoint: $breakpoint576;



//* Colors
// $bodyBackground: ;
// $primary: ;
// $secondary: ; 

//* Fonts

// $mainFont: '', 'sans-serif';
// $secondaryFont: '', 'sans-serif';